<h1>Welcome to Cayenne!</h1>
<%= link_to("Create an Account", new_user_path) %><br>
<%= link_to('Log in with Email and Password', "/login") %><br>
<%= link_to('Log in with Facebook!', '/auth/facebook') %><br>
