<h1>Welcome Back <%= @user.name %>!</h1>
<h2>What would you like to do today?</h2>
<%= link_to "Add a Recipe", new_recipe_path %><br>
<%= link_to "View All Recipes Posted by Our Users", recipes_path %>

    
